<div id="particles-js">
  <div class="content">
      <div class="insha">
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">{{site.user_title}}</span>
        </h1>
      </div>
      <div class="slogan">
        <h2>I"m working on a Design</h2>
        <h2 class="blw">that will blow your mind!</h2>
      </div>
      <div class="icons-header">
        {% comment %}<a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>{% endcomment %}
        <a aria-label="My Linkedin" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My GitHub" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Dribbble" target="_blank" href="https://dribbble.com/{{site.dribbble_username}}"><i class="icon fa fa-dribbble" aria-hidden="true"></i></a>
        
      </div>
      {% comment %}<a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects" data-scroll>Projects</a>{% endcomment %}
  </div>
  <a class="down" href="#footer" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
