/* MAIN STYLESHEET - SCSS SOURCE */
$main: #1a222c;
$sec: #4B5664;
$cut: 768px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

@keyframes pulse {
  from {
    opacity: .4;
    top: 0;
  }
  50% {
    opacity: 1;
    top: -10px;
  }
  to {
    opacity: .4;
    top: 0;
  }
}

#particles-js {
  background: $main;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  
  .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content {
  z-index: 1;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #b8d853;
    
    @media only screen and (min-width: $cut) {
      margin: 0;
      font-size: 100px;
    }
  }
  
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    color: #b8d853;
    
    @media only screen and (min-width: $cut) {
      font-size: 40px;
    }
  }
}

.slogan {
  color: #6c48ab;
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  
  a {
    text-decoration: none;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    
    &:hover,
    &:active {
      color: $main;
      background: #FFF;
    }
    
    @media only screen and (min-width: $cut) {
      width: 50px;
      height: 50px;
      font-size: 25px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  
  .icon {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    animation: pulse 1.3s infinite;
    
    &:hover,
    &:active {
      color: $sec;
    }
  }
}

.footer {
  background: $main;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: #FFF;
  width: 100%;
  position: relative;
  z-index: 1;
  
  .love {
    color: red;
  }
  
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    
    &:hover,
    &:active {
      color: $sec;
    }
  }
}